a:hover {
  text-decoration: none;
  color: gray;
}

.container {
  background-color: lavender;
}

ul > #main {
  padding: 5%;
}

img#footer {
  width: 65px;
  padding: 15px 15px 15px 20px;
}

nav {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.footer {
  height: 100px;
}

#mailIcon {
  border: 10px;
  border-color: black;
}

#SFpic {
  width: 100%;
}

a.navbar-brand:hover {
  text-shadow: 0px 0px 1px lavender !important;
}