body {
  background-color: lavender;
}

h1, h2, h3 {
  font-family: 'Arvo', 'Roboto', sans-serif;
}

p {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
}

.navbar-brand {
  font-family: 'Arvo', sans-serif;
  font-size: 18px;
}

a:hover {
  text-decoration: none;
  color: gray;
}

ul > #main {
  padding: 5%;
}

.lead {
  padding: 10px 150px 0px;
  text-align: center;
  margin-bottom: 0;
}

nav {
  font-family: "Arvo", sans-serif;
  font-size: 13px;
}

.footer {
  height: 100px;
}

#mailIcon {
  border: 10px;
  border-color: black;
}

#SFpic {
  width: 100%;
}

a.navbar-brand:hover {
  color: #ccb3ff !important;
}

#FarmMarketLarge {
  height: 500px;
}

/* #bio-image {
  padding-bottom: 20px;
} */

/* #bio {
  padding: 20px 10px 0px 0px;
  background-color: #a793d2;
  color: lavender;
} */